#cpanel {
	/*background: darkGray;*/
	overflow: hidden;
}
#cpanel div.dashboard-button, #cpanel div.dashboard-button a {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

#cpanel div.dashboard-button {
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
	text-align: center;
	background-position: center center;
	background-image: none;
	position: relative;
	
}

#cpanel div.dashboard-button a {
	border: none;
	color: #666;
	display: block;
	float: left;
	height: 97px;
	text-decoration: none;
	vertical-align: middle;
	width: 108px;
	
	border-color: transparent!important;
}
#cpanel div.dashboard-button span {
	display: block;
	text-align: center;
}
#cpanel div.dashboard-button img {
	margin: 8px 0px;
	padding: 2px;
	border: 1px solid transparent;
	-webkit-background-clip: border;
	-webkit-background-origin: border;
	border-radius: 5px;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-khtml-user-select: none;
}
#cpanel div.dashboard-button:active img {
    border-color: hsla(0, 0%, 0%, 0.1);
    -webkit-box-shadow: white 0 1px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.4)), to(hsla(0, 0%, 50%, 0.2)));
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 0%, 0.4), hsla(0, 0%, 50%, 0.2));
    background-image: -moz-linear-gradient(top, hsla(0, 0%, 0%, 0.4), hsla(0, 0%, 50%, 0.2));
    background-image: -ms-linear-gradient(top, hsla(0, 0%, 0%, 0.4), hsla(0, 0%, 50%, 0.2));
    background-image: -o-linear-gradient(top, hsla(0, 0%, 0%, 0.4), hsla(0, 0%, 50%, 0.2));
    background-image: linear-gradient(top, hsla(0, 0%, 0%, 0.4), hsla(0, 0%, 50%, 0.2));
}
#cpanel div.dashboard-button:hover a {
	opacity: 1.0;
	background-color: transparent!important;
	color: #0B55C4
}